*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(45deg, gray,silver,wheat);
    /* linear-gradient(222deg,rgb(33, 167, 219),rgb(228, 37, 37), rgb(240, 188, 15),rgb(228, 37, 37),rgb(33, 167, 219)); */
    height: 100vh;
}

h2{
    margin-top: 3.5rem;
    font-size: 2.3rem;
    color: rgb(49, 3, 90);
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#subcontainer{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#user-container{
    display: flex;
    flex-direction: column;
}

.text-container{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.img-container{
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: .2rem solid maroon;
}
.user-choice{
    margin: 1rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.computer-choice{
    width: 20rem;
    height: 20rem;
    background-color: white;
    border-radius: 50%;
    border: .3rem solid maroon;
    align-self: center;
}

img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    transition: transform .5s;
}

/* ----------------------------hover----------------------------- */

.user-choice img:hover{
    cursor: pointer;
    transform:scale(1.1);
}

#scissor:hover::after{
    content: "Scissor";
    position: relative;
    top: 1rem;
    color: skyblue;
}

#paper:hover::after{
    content: "Paper";
    position: relative;
    top: 1rem;
    color: skyblue;
}

#rock:hover::after{
    content: "Rock";
    position: relative;
    color: skyblue;
    left: 5.5rem;
    bottom: 1rem;
}

/* ---------------------score------------------------- */

.score{
    margin: 1rem 0 0 1rem;
    font-size: 1.5rem;
}

.score strong{
    color: bisque;
}

.score p{
    margin-top: .1rem;
    color: white;
}
